.btn {
  width: 264px;
  height: 40px;
  border-radius: 50px;
  background-color: #f4f4f480;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}
.primary {
  background-color: #171a20cc;
  color: #fff;
}
