.contentItem {
  position: relative;
  // top: -15px;
  
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .contentArea {
    .title {
      position: absolute;
      top: 85px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 40px;
    }
    .subtitle {
      position: absolute;
      top: 140px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 14px;
      .subtitleLink {
        color: #000;
        text-decoration: underline;
        margin-left: 2px;
      }
    }

    .actionWrapper {
      display: flex;
      position: absolute;
      gap: 50px;
      left: 50%;
      bottom: 150px;
      transform: translate(-50%, 0);
    }
  }
}
@media screen and (max-width: 480px) {
  .contentItem {
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    .actionWrapper{
      flex-direction: column;
      button{
        width: 400px;
        margin: -10px 0;
      }
    }
  }
}
